<section class="hero">
  <div class="stars-container"></div>
  <div class="hero-content">
    <h1 @fadeIn>Découvrez l'Univers</h1>
    <p @fadeIn>Un voyage à travers les mystères du cosmos</p>
    <div class="hero-nav">
      <a routerLink="/systeme-solaire" class="nav-button">
        <span class="icon">🪐</span>
        Planètes
      </a>
      <a routerLink="/galaxies" class="nav-button">
        <span class="icon">🌌</span>
        Galaxies
      </a>
      <a routerLink="/etoiles" class="nav-button">
        <span class="icon">⭐</span>
        Étoiles
      </a>
        
    <a routerLink="/actualites" class="nav-button">
      <span class="icon">📰</span>
      Actualités Spatiales
    </a>
    </div>


  </div>
</section>

